
<div class="row">
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vocabulary Trainer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link">Login</a>
          </li>
          <li class="nav-item me-3 ">
            <a href="#" class="nav-link">Register</a>
          </li>
        </ul>
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>











