
<div class="container-fluid">

  <!--//////////////////////////////////////////// Main screen ////////////////////////////////////////////////////-->

  <div class="row">

    <!--/////////////////////////////////////// Word list section of screen /////////////////////////////////////////-->

    <div class="col">

      <!-- Database section -->

      <div class="row border border-primary">

        <div class="row  mt-3">

          <div class="col">
            <div class="btn-group dropdown ">
              <button class="btn btn-danger " type="button"><span class="sr-only">Load database</span></button>
              <button class="btn btn-danger dropdown-toggle dropdown-toggle-split" type="button"
                      id="dropDownButtonMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropDownButtonMenu1">
                <li *ngFor="let database of databaseList" [value]="database.id"
                    class="dropdown-item" >{{database.name}}</li>
              </ul>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-success" type="button"><span class="sr-only">Build database</span></button>
          </div>

        </div>

        <div class="row mt-3">
          <div class="col">
            <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="Word"/>
          </div>
          <div class="col">
            <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"/>
          </div>
        </div>


      </div>

      <div class="row">

      </div>
    </div>

    <!-- Word section -->

    <div class="row">
    </div>

    <!-- Buttons section -->

    <div class="row">
    </div>
  </div>

  <!--////////////////////////////////////// View table section of screen /////////////////////////////////////////-->

  <div class="col">

  </div>

  <!--////////////////////////////////////// Communication section of screen //////////////////////////////////////-->

  <div class="col">

  </div>





  <div class="form-group border border-primary">
    <label for="category" >Select Language</label>
    <select name="languages" id="category" class="form-control dropdown-toggle ">
      <option value=""></option>
      <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
    </select>
  </div>


</div>
