
<div class="container-fluid">

  <!--//////////////////////////////////////////// Main screen ////////////////////////////////////////////////////-->
  <div class="row mt-5">

    <!--////////////////////////////////////// Word section of screen /////////////////////////////////////////-->

    <div class="col ">

      <!-- Database section -->

      <div class="row " >
        <label style="margin-bottom: 7px" for="databaseForm"><h5>Database:</h5></label>

        <div class="row " >
            <div class="btn-group dropdown w-auto ">
              <button class="btn btn-danger " type="button"><span class="sr-only">Load database</span></button>
              <button class="btn btn-danger dropdown-toggle dropdown-toggle-split " type="button"
                      id="dropDownButtonMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropDownButtonMenu1">
                <li *ngFor="let database of databaseList" [value]="database.id"
                    class="dropdown-item" ><a class="nav-link" routerLink="/notFound">{{database.name}}</a></li>
              </ul>
            </div>
            <button class="btn btn-success w-auto me-3" type="button">Add new</button>
            <button class="btn btn-danger w-auto me-3" type="button">Delete</button>
            <input type="text" name="dbName" value="" class="form-control input-lg w-auto" placeholder="Database name"/>
        </div>

        <div class="row mt-3">
          <select class="form-select w-auto ms-3" aria-label="wordListSelectBox">
            <option *ngFor="let database of databaseList" [value]="database.id">{{database.name}}</option>
          </select>
          <button class="btn btn-success w-auto me-3 ms-4" type="button">Add new</button>
          <button class="btn btn-danger w-auto me-3" type="button">Delete</button>
          <input type="text" name="dbName" value="" class="form-control input-lg w-auto" placeholder="Word list name"/>
        </div>

      </div> <hr>

      <!-- Word section -->

      <div class="row">
        <label style="margin-bottom: 7px" for="wordForm"><h5>Word:</h5></label>
        


      </div>

      <!-- Buttons section -->

      <div class="row">
      </div>
    </div>

    <!--////////////////////////////////////// View table section of screen /////////////////////////////////////////-->

    <div class="col bg-primary">

    </div>

    <!--////////////////////////////////////// Communication section of screen //////////////////////////////////////-->

    <div class="col-lg-2 bg-danger">

    </div>




  </div>
</div>

